<mat-card class="card" *ngIf="register">
  <mat-card-title>New Person</mat-card-title>
  <form  class="form" [formGroup]="register"
    (ngSubmit)="submit()"
    (ngReset)="cancel()">
    <app-input-text title="First Name*"  controlName="firstName" label="First Name*" [formGroup]="register">
    </app-input-text>
    <app-input-text title="Last Name*"  controlName="lastName" label="Last Name*" [formGroup]="register">
    </app-input-text>
    <app-input-cpf title="xxx.xxx.xxx-xx"  controlName="cpf" [formGroup]="register">
    </app-input-cpf>
    <app-input-date title="dd-mm-aaaa"  controlName="birthDate" [formGroup]="register">
    </app-input-date>
    <div class="container">
      <app-input-phone title="(xx)xxxxx-xxxx"  controlName="phoneNumber" [formGroup]="register">
      </app-input-phone>
      <app-input-select title="Type*"  controlName="phoneType" [types]="types" [formGroup]="register">
      </app-input-select>
    </div>
    <mat-card-actions>
      <button type="submit" color="accent" mat-raised-button>Save</button>
      <button type="reset" color="warn" mat-raised-button>Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
